* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --blue: rgb(118, 156, 240);
  --pink: rgb(255, 143, 225);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

body {
  background-color: white;
  color: black;
}

header {
  /* height: 60px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: rgb(255, 255, 255);
  width: 100%;
  z-index: 1;
}

.logo-text {
  color: black;
}

.logo p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}

.header--navlink {
  margin: 8px;
  color: black;
}

.header--navlink a {
  color: black;
}

.header--navlink a:hover {
  opacity: 0.5;
}

.apply {
  padding: 8px 12px;
  border-radius: 8px;
  background-color: var(--blue);
  max-width: 150px;
  text-align: center;
  color: white;
}

.apply a {
  color: white;
}

.apply:hover {
  background-color: #618eef;
  transform: scale(1.05);
}

header p {
  position: relative;
}

.top-right {
  position: absolute;
  top: 0px;
  right: -15px;
  font-size: 10px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

section:nth-child(odd) {
  background: linear-gradient(var(--light-blue), white);
  /* background-color: rgb(239, 239, 239); */
  /* color: black; */
  color: var(--darkest-blue);
  width: 100%;
}

h1 {
  margin: 15px;
  font-size: 50px;
  text-align: center;
}

h2 {
  margin: 15px;
  font-size: 40px;
  text-align: center;
}

h3 {
  margin: 15px;
  font-size: 30px;
  text-align: center;
}

h4 {
  font-size: 25px;
  text-align: center;
}

.cover-photo-container {
  position: relative;
}

.cover-photo {
  width: 100%;
  /* max-height: 500px; */
}

.overlay {
  background-color: rgb(13, 31, 92, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 30px;
  justify-content: center;
}

.overlay--text {
  width: 60%;
  text-align: center;
  color: white;
  font-size: 3vw;
  padding-bottom: 100px;
}
.overlay--text span {
  color: var(--pink);
}

@media (max-width: 740px) {
  .cover-photo {
    /* width: 100%; */
    height: 420px;
    object-fit: cover;
    object-position: 100% 50%;
  }

  .overlay {
    background-color: rgb(13, 31, 92, 0.8);
  }

  .overlay--text {
    width: 85%;
    font-size: 25px;
    padding: 0;
  }

  .overlay--text p {
    display: inline;
  }
}

.logo {
  /* width: 100%; */
  height: 60px;
  z-index: 1;
  /* position: absolute;
  top: 0;
  left: 0; */
  /* background-color: white; */
  /* opacity: 0.5; */
  /* padding: 0px 8px; */
}

.logo p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.logo img {
  margin-right: 5px;
  width: 60px;
}

img {
  height: 100%;
}

#testimonials {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.testimonials--main {
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.testimonial {
  height: 100%;
  min-width: 400px;
  max-width: 400px;
  background: linear-gradient(var(--pink), var(--blue));
  border-radius: 15px;
  padding: 40px;
  margin: 0px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: rgb(255, 255, 255);
}

.testimonial--photo {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  object-fit: cover;
}

.testimonial--name {
  color: rgb(241, 241, 241);
}

.testimonial--description {
  text-align: center;
  overflow: scroll;
  flex-grow: 1;
}

.arrows {
  display: flex;
  justify-content: center;
}

.arrow {
  background-color: black;
  border-radius: 50%;
  margin: 10px;
  height: 40px;
  width: 40px;
}

.arrow:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

.arrow > img {
  z-index: 1;
  filter: brightness(0) invert(1);
}

.progress-bar-container {
  width: 75%;
  height: 50px;
  overflow-x: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.progress-bar-container::-webkit-scrollbar {
  display: none;
}

.progress-bar {
  width: 200vw;
  height: 2px;
  /* background-color: green; */
  color: black;
  position: relative;
}

.gray-filled {
  width: 100%;
  height: 100%;
  background-color: lightgray;
}

.filled {
  width: 0%;
  height: 100%;
  background-image: linear-gradient(to right, var(--blue), var(--pink));
  z-index: 1;
  position: absolute;
}

.milestones {
  width: 100%;
  position: relative;
}

.milestone {
  width: 25px;
  height: 25px;
  background-color: var(--blue);
  border: 3px solid var(--pink);
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  top: -13px;
}

.inactive {
  background-color: gray;
  border: 3px solid lightgray;
}

.display-text {
  width: 50%;
  text-align: center;
}

.instructor__main img {
  width: 50%;
  float: left;
  margin: 0px 15px 0 30px;
}

.instructor__text {
  padding: 0px 15px 0px 30px;
}

@media (max-width: 740px) {
  .instructor__main {
    display: flex;
    flex-direction: column;
  }
  .instructor__main img {
    width: 100%;
    margin: 0;
  }

  .instructor__text {
    padding: 0;
    margin-top: 30px;
  }
}

/* https://codepen.io/KhaledPen/pen/YzXeXLm */

.container {
  position: relative;
  width: 100%;
  max-width: 100%;
  /* min-height: 100vh; */
}

.space-holder {
  /* position: relative; */
  /* width: 100%; */
}

.sticky {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.horizontal {
  position: absolute;
  height: 100%;
  will-change: transform;
}

.cards {
  position: relative;
  height: 100%;
  padding: 0 0 0 15px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.sample-card {
  position: relative;
  height: 100px;
  width: 500px;
  background-color: #111f30;
  margin-right: 75px;
  flex-shrink: 0;
}

.sample-card:last-child {
  margin-right: 0;
}

/* https://codepen.io/springerkc/pen/aMxxyO */
div.highway-slider div.highway-barrier {
  /* overflow: visible; */
  position: relative;
}
div.highway-slider ul.highway-lane {
  display: flex;
  height: 100%;
}

div.highway-slider ul.highway-lane li.highway-car {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #343434;
}

@keyframes translateinfinite {
  100% {
    transform: translateX(calc(-180px * 12));
  }
}

#infinite div.highway-barrier ul.highway-lane {
  animation: translateinfinite 50s linear infinite;
}

@media (max-width: 1000px) {
  .header--navlink:not(:last-child) {
    display: none;
  }
}

.flippers {
  padding: 0;
  margin: 0;
  /* background-image: linear-gradient(to top right, var(--blue), var(--pink)); */
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
}

.flip-card {
  margin: 0;
  flex-grow: 1;
  border: 5px solid transparent;
}

.flip-card-front {
  background-image: linear-gradient(
    to top right,
    var(--blue),
    var(--light-pink)
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.pricing-cards {
  display: flex;
  width: 100%;
}

.pricing-card {
  width: 50%;
  height: 400px;
  padding: 15px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 20px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.pricing-card__button {
  justify-self: flex-end;
}

.strikethrough {
  text-decoration: line-through;
}

@media (max-width: 750px) {
  .pricing-cards {
    flex-direction: column;
  }

  .pricing-card {
    width: 100%;
    margin: 15px 0px;
  }
}

.gray-text {
  color: rgb(187, 187, 187);
  font-size: 20px;
}
