@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --light-blue: #b0c4ff67;
  --blue: #769cf0;
  --darkest-blue: #000550;
  --light-pink: #ffbbed;
  --pink: #ff8fe1;
  --dark-pink: #fa39c7;
  --darker-pink: #a20077;
  --darkest-pink: rgb(101, 2, 75);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  background-color: black;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 15px;
  position: fixed;
  background-color: rgb(0, 0, 0, 0.5);
  /* opacity, 0.5: 0, 0.5.5; */
  width: 100%;
  z-index: 1;
  color: white;
}

.header--navlinks {
  display: flex;
  align-items: center;
}

.header--navlink {
  margin: 8px;
}

.header--navlink a {
  color: white;
}

.logo-text {
  position: relative;
  color: white;
}

.top-right {
  position: absolute;
  top: 0px;
  right: -15px;
  font-size: 10px;
}

.active {
  color: var(--blue);
}

main {
  position: relative;
  top: 60px;
}

section {
  /* height: calc(100vh - 60px); */
  background-color: black;
  color: white;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

main > section:nth-child(even) {
  background-color: white;
  color: black;
}

.section--main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

h3 {
  font-size: 24;
  text-align: center;
}

.section--title {
  color: white;
  text-align: center;
  font-size: 32px;
}

main > section:nth-child(even) > .section--title {
  color: black;
}

section:nth-child(odd) > ul > li > a > img {
  filter: brightness(0) invert(1);
}

a {
  cursor: pointer;
}

.logo {
  display: flex;
  align-items: center;
}

.logo p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
}

.logo img {
  height: 60px;
  min-width: 50px;
  margin-right: 15px;
}

li > a > img {
  width: 32px;
}

.flippers {
  /* width: 100%; */
  /* height: 400px; */
  /* flex-grow: 1; */
  /* overflow-y: auto; */
  /* background-image: linear-gradient(to top right, var(--blue), var(--pink)); */
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
}

.flipper {
  width: 300px;
  height: 300px;
  margin: 8px;
  /* background-color: transparent; */
  /* background-color: rgb(132, 132, 132); */
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.purple-button {
  background-color: var(--dark-pink);
  padding: 12px 20px;
  border-radius: 8px;
  text-align: center;
  max-width: 200px;
}

footer {
  background-color: #fff;
  display: flex;
  padding: 15px;
}

.footer--section {
  width: 50%;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  /* background-color: transparent; */
  width: 300px;
  height: 300px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  margin: 8px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 15px;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  color: black;
  font-size: 24px;
  padding: 16px;
}

/* Style the back side */
.flip-card-back {
  background-color: var(--blue);
  color: white;
  transform: rotateY(180deg);
}

.us {
  color: var(--darkest-pink);
  font-weight: 600;
}

.stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px;
}

.stack img {
  width: 100px;
  height: 100px;
  margin: 15px;
}

.stack img:hover {
  opacity: 0.8;
  transform: scale(1.1);
  transition-duration: 0.1s;
}

.tooltip {
  /* visibility: hidden; */
  position: relative;
}

.tooltip-text {
  visibility: hidden;
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 5px;
  background-color: black;
  opacity: 0.5;
  color: white;
  text-align: center;
  border-radius: 8px;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}
